sudo: false

language: python

python:
  - 3.6
  - 3.7-dev

cache: pip

os:
  - linux

install:
  - pip install tox
  - pip install tox-travis
  - pip install coveralls

script:
  - tox

after_success:
  - tox -e coveralls

notifications:
  email: false
